{{ template "base" . }}

{{ define "content" }}
    {{ template "sidebar" . }}

    <div class="flex-1 flex flex-col relative" style="background: var(--bg-app);">
        <header class="flex items-center justify-between px-6" style="height: 60px; border-bottom: 1px solid var(--border); background: var(--bg-panel);">
            <div>
                <h2 style="color:white; font-weight:bold;">Network Topology</h2>
                <p style="color: var(--text-dim); font-size: 10px;">{{ .OnionAddr }}</p>
            </div>
            <button onclick="App.UI.addPeer()" class="btn-primary">
                Add Peer
            </button>
        </header>

        <main class="flex-1 relative overflow-hidden">
            {{ template "view_network" . }}
            {{ template "view_chat" . }}
            {{ template "view_files" . }}
            {{ template "view_feed" . }}
            {{ template "view_identity" . }}
        </main>
    </div>
{{ end }}