{{ define "scripts" }}
<script>
    console.log("AXON: Composing Scripts...");

    // 1. UTILITIES (Icons, Math Helpers)
    {{ template "js_utils" . }}

    // 2. CORE ENGINE (Physics Simulation/Graph State)
    {{ template "js_graph" . }}

    // 3. APPLICATION LOGIC (Controller Modules)
    {{ template "js_modules" . }}

    // 4. STARTUP (The entry point)
    try {
        document.addEventListener('DOMContentLoaded', () => App.init());
    } catch(e) {
        alert("CRITICAL ERROR: Failed to start application logic. Check browser console.");
        console.error("Critical Startup Failure:", e);
    }
</script>
{{ end }}